<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="all" [(ngModel)]="selectedFilterRadioButton" (change)="onSelectedRadioButtonChanged()" />
    <span>All {{all}}</span>

    <input type="radio" name="filter" value="true" [(ngModel)]="selectedFilterRadioButton" (change)="onSelectedRadioButtonChanged()"/>
    <span>instock {{inStock}}</span>

    <input type="radio" name="filter" value="false" [(ngModel)]="selectedFilterRadioButton" (change)="onSelectedRadioButtonChanged()" />
    <span>out of stock {{outOfStock}}</span>
</div>