<!-- <div class="ekart--product--container"> -->
    <!-- <img [src]="product.pImage">
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ '$' + product.price }}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{ getDiscountedPrice().toFixed(2) }}</p>
    <p>{{product.inStock > 0 ? 'Only' + product.inStock +' items left': 'Not in Stock'}}</p>
    <button (click)="decrementCartValue()">-</button>
    <span>{{ addToCart }}</span>
    <button (click)="incrementCartValue()">+</button>
    <input (input)="onNameChange($event)"><br>
    <p>name={{name}}</p> -->
<!-- </div> -->

<!--Disabled, Hidden, Checked-->

<app-filter [all]="totalProducts" 
            [inStock]="productInStock"
            [outOfStock]="productOutOfStock"
             (radioButtonChanged)="onFilterChanged($event)"> </app-filter>
<!-- also send it in group  its the best alternaive go check it out -->
<div class="ekart--product--container product-grid">
  <div *ngFor="let item of products">
      <!-- <app-products  [product]="item" *ngIf="selectedFilterRadioButton ==='all'|| item.is_in_inventory.toString() === selectedFilterRadioButton"></app-products> -->
      <app-products  [product]="item" *ngIf="searchTextValue ===''|| item.name.toLowerCase().includes(searchTextValue)"></app-products>

  </div>
  </div>
  

