/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}
.ekart--product--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between columns */
  }
  .product-grid {
    display: grid; /* Or display: flex; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust as needed */
    gap: 10px; /* Adjust spacing */
  }
  