<div [ngClass]="'ekart--product--item ekart--product--item1'" appHighlight [disableProduct]="!product.is_in_inventory" > 
                                                     <!-- this div is basically the host  here    //we can access this element in this classe constructor -->
    <div class="ekart-wishlist-sale-container">
      <div class="ekart--add--to--wishlist">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="ekart-on-sale-tag" *ngIf="product.discountPrice" >75% OFF</div>

    <div class="ekart--product--image">
      <img [src]="product.imageURL" class="ekart--product--image" alt="{{product.name}} Image">
    </div>

    <div class="ekart--add--to--price">
      {{product.price}}
    </div>

    <div class="ekart--product--name">
      {{product.name}}
    </div>

    <div class="ekart--product--category"> 
      {{product.gender}} . {{product.category}} . {{product.brand}}
    </div>

    <div class="ekart--product--available-colors">
      {{product.color.length}} Colors . Best Seller
    </div>
    <div class="produc-in-stock" [ngStyle]="{fontWeight:'bold',color:product.is_in_inventory? 'green':'red'}" >{{product.is_in_inventory? 'availaable in stock':'not available in stock'}}</div>
  </div>